@charset "UTF-8";

body{
    background-color: #D7FCE9;
}

h1{
    color: #96B0A2;
}

h1#principal{
    text-align: center;
    background-color :#505E57;
    color: azure;
}

h2{
    color: #B8D9C8;
}

.basico {
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avançado{
    color: #803c3c;
}